{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": "lob",
  "globals": {
    "expect": false
  },
  "rules": {
    "no-extra-parens": 0
  }
}
