name: "CI"

on:
  push:
    paths-ignore:
      - 'README.md'

jobs:
  ci:
    name: Test, Build, and Deploy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20, 22, 24]

    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Upgrade npm to v11
        run: npm install -g npm@11

      - name: Install dependencies
        run: npm install

      - name: Lint project
        run: npm run lint

      - name: Run tests
        run: npm test
